body{
    background-color: black;
}
.movieheader{
    background-color: aqua;
    width: auto;
    height: auto;
    font-size: 32px;
    float: left;
    margin-top: 10%;
    margin-left: 10%;
}
.description{
    background-color: brown;
    float: left;
    height: auto;
    width: auto;
    margin-top: 20%;
    margin-left: -7%;
}
.videocustom{
    background-color: blueviolet;
    float: left;
    margin-top: 20%;
    margin-left: 40%;
}