body{
    background-color: black;
}
.logocustommovieinfo{
    margin: 5% 5%;
    height: 10%;
    position: absolute;
}
.movieheader{
    
    width: auto;
    height: auto;
    font-size: 32px;
    float: left;
    margin-top: 15%;
    margin-left: 23%;
    color: white;
  
}
.moviedescreption{
    position: absolute;
    color: white;
    float: left;
    justify-content: center;
    text-align: center;
    margin-left: 5%;
    height: 20%;
    width: 50%;
    margin-top: 25%;
}
.movievideocustom{
    margin-top: 15%;
    position: absolute;
    margin-left: 60%;
    height: 200px;
    width: 400px;
}
.videoscreen{
    width: 120%;
    height: 150%;

}

@media (max-width:510px){
    .logocustommovieinfo{
        margin-left: 40%;
        
    }
    .movieheader{
      position: relative;
      top: 40px;
      right: 20px;
       
    }
    .moviedescreption{
        margin-left: 12%;
        margin-top: 50%;
    }
    .videoscreen{
        height: 100%;
        width: 100%;
        position: relative;
        left: 20%;
        
    
    }

}
@media (max-width:1215px){
    .videoscreen{
        width: 100%;
        height: 100%;
        margin-top: 5%;
    }
}
@media (max-width:1050px){
    .videoscreen{
        width: 100%;
        height: 100%;
        margin-top: 80%;
        margin-left: -80%;
    }
    .moviedescreption{
        width: 80%;
    }
    .movieheader{
        margin-left: 38%;
    }
}
