body{
    background-color: black;
}

.movieinfoposter{
    height: 372.8px;
    width: 250px;
    position: relative;
    top: 150px;
    left: 10%;
}
.movieinfoheader{
    position: relative;
    width: 250px;
    height: auto;
    top: 160px;
    left: 10%;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.movievideocustom{
    position: relative;
    left: 50%;
    bottom: 260px;
    
}
.videoscreen{
   height: 372.8px;
   width: 700px;
}
.movieinfodescription{
    position: relative;
    color: white;
    text-align: center;
    width: 80%;
    bottom: 150px;
    left: 12%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.videojsbtn{
    position: absolute;
    bottom: -15px;
    left: 48%;
    border-radius: 50%;
    border: none;
    color: #000;
    border-radius: 20px !important;
    font-size: 22px !important;
    transition: all .5s;
    width: max-content;
    border: solid 1px #fff;
    padding-left: 40px;
    padding-right: 20px;
    background-image: url("https://assets.dsmartgo.com.tr/content/img/icn-play.png");
    background-repeat: no-repeat ;
    background-position-x: left;
    background-size: 30px;
    font-family: 'Proxima Nova Semibold',proxima-nova-semibold,Arial,Helvetica,sans-serif!important;
}
.oneriheader{
    position: relative;
    left: 7px;
    color: white;
}


@media (max-width:1420px){
    .videoscreen{
        margin-left: -15%;
    }
}
@media(max-width:1080px){
    .movieinfoposter{
        margin-left: -5%;
    }
    .movieinfoheader{
        margin-left: -5%;
    }
    .videoscreen{
       margin-left: -20%;
    }
    .videojsbtn{
        position: relative;
        bottom: 120px;
    }
}
@media (max-width:1030px){
    .movieinfoposter{
        height: 20%;
        width: 20%;
    }
    .movieinfoheader{
        position: relative;
        left: 8%;
    }
    .videoscreen{
        height: 300px;
        width: 400px;
        position: relative;
        left: 15%;
        top: 80px;
    }
    .movieinfodescription{
       position: relative;
        top: -5px;
        top: -70px;
    }
    .videojsbtn{
        position: relative;
        bottom: 70px;
    }

}
@media (max-width:915px){
    .videoscreen{
        position: relative;
        top: 120px;
    }
    .videojsbtn{
        position: relative;
        bottom: 60px;
        left: 45%;
    }
}
@media (max-width:740px){
    .videoscreen{
        position: relative;
        left: 5%;
        top: 160px;
        height: 200px;
        width: 400px;
    }
    .movieinfodescription{
        position: relative;
        top: 2px;
    }
    .videojsbtn{
        position: relative;
        bottom: 150px;
        left: 40%;
    }
}
@media (max-width:510px){
   
    .movieinfoposter{
        width: 50%;
        position: relative;
        left: 30%;
    }
    .movieinfoheader{
        position: relative;
        left: 32%;
    
    }
    .videoscreen{
        position: relative;
        height: 200px;
        width: 400px;
        left: -100px;
        top: 650px;
    }
    .movieinfodescription{
        position: relative;
        top: 10px;
    }
    .oneriheader{
        position: relative;
        top: 400px;
    }
    .container-fluidcustom{
        margin-top: 80%;
    }
    .videojsbtn{
        position: relative;
        top: 10px;
    }

}
@media (max-width:366px){
   
    .movieinfoheader{
        margin-left: -15%;
    }
    .movieinfodescription{
        margin-top: -5%;
    }
    .videojsbtn{
       position: relative;
       top: 240px;
       left: 32%;
    }
}
