.signinbody{
    
    background: url("https://img.dsmartgo.com.tr/listimage/33/09/09a52d1c-8ac2-4bd0-a861-09c0c344caf5_58.jpg");
}
.logosignin{
    width: 90px;
    height: 62px;
    margin-left: 45%;
    margin-top: 2%;
}
.signinform{
    opacity: 0.8;
    background-color: #313131;
    height: 700px;
    width: 500px;
    margin-left: 32%;
}
.signinheader{
    font-family: 'Proxima Nova Semibold',proxima-nova-semibold,Arial,Helvetica,sans-serif !important;
    top: 5%;
    left: 20%;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    color: white;
    position: relative;
}
.labelphonenumber{
    position: relative;
    top: 10%;
    color: rgb(255, 255, 255);
    left:21%;
    font-size: 18px;
    font-weight: 600;
}
.signininputphone{
    position: relative;
    top: 18%;
    border-radius: 6px;
    background-color: rgb(0, 0, 0);
    font-size: 18px;
    width: 60%;
    border: none;
    height: 50px;
    color: #fff;
    left: -8%;
}
.labelpassword{
    position: relative;
    top: 30%;
    right: 68%;
    color: rgb(255, 255, 255);
    
    font-size: 18px;
    font-weight: 600;
}
.signininputpassword{
    position: relative;
    top: 30%;
    border-radius: 6px;
    background-color: rgb(0, 0, 0);
    font-size: 18px;
    width: 60%;
    border: none;
    height: 50px;
    color: #fff;
    left: 20%;
}
.signinrememberme{
    position: relative;
    top: 32%;
    left: 20%;
    color: black;
}
.signinsubmitbutton{
    border-radius: 6px;
    background-color: #e87200 !important;
    border: none;
    font-size: 20px;
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 9.5px;
    font-family: 'Proxima Nova Semibold',proxima-nova-semibold,Arial,Helvetica,sans-serif;
    position: relative;
    top: 35%;
    width: 60%;
    left: 20%;
}
.forgotpassword{
    position: relative;
    top: 45%;
    left: 38%;
    color: white;
    text-decoration:underline;
    font-size: large;
}
.uyeolmakistiyorum{
    position: relative;
    top: 50%;
    left: 35%;
    color: white;
    font-size: large;
}
.signinfooter{
    background: #000;
    border-radius: 2px;
    border: 2px solid #313131;
    text-align: center;
    padding: 28px 0 32px;
    background-color: #000;
    opacity: 1;
    position: relative;
    top: 52%;
}
@media (max-width:1200px){
    .signinbody{
        background-color: #000;
        background-image: none;
    }
    .logosignin{
        margin-left: 42%;
    }
    .signinform{
        margin-left: 20%;
        background-color: #000;
    }
    .signininputphone{
        background-color:#333 ;
    }
    .signininputpassword{
        background-color: #333;
    }
    .signinrememberme{
        color: white;
    }
}

@media (max-width:680px){
    
    .signinform{
        position: relative;
        right: 25%;
        
    }
    .logosignin{
      margin-left: 30%;

       
    }
}
@media (max-width:600px){
    .signinform{
        margin-left: 25%;
        width: 100%;
    }
    .logosignin{
      margin-left: 40%;
    }
}