.carousel-caption{
  position: absolute;
}
.btnCustom{
    color: #000;
    border-radius: 20px !important;
    
    font-size: 22px !important;
    transition: all .5s;
    width: max-content;
    border: solid 1px #fff;
    margin: 0 15% 20% -100%;
    padding-left: 40px;
    padding-right: 20px;
    background-image: url("https://assets.dsmartgo.com.tr/content/img/icn-play.png");
    background-repeat: no-repeat ;
    background-position-x: left;
    background-size: 30px;
    position: relative;
    top: 150px;
    left: 57%;
    font-family: 'Proxima Nova Semibold',proxima-nova-semibold,Arial,Helvetica,sans-serif!important;

}
.movienamecustom{
  position:absolute;
  margin: -50px -100px -150px 20px;
  font-weight: 600;
  margin-left: -150px;
  letter-spacing: .2px;
  font-family: 'Proxima Nova Semibold',proxima-nova-semibold,Arial,Helvetica,sans-serif!important;
  font-size: 40px;  
  
}
.moviedescreptioncustom{
  position: relative;
  top:50px;
  font-weight: 500;
}
.myCarousel{
  width: 100%;
  height:auto;
}
.item img{
  width: 100%;
  max-height: 700px;
}
@media (max-width:1200px){
  .movienamecustom{
    font-size: 15px;
    left: 20px;
    top:-40px;
    position:relative ;
  }
  .moviedescreptioncustom{
    font-size: 8px;
    margin-top: 80px;
  }
  .btnCustom{
    position: relative;
    top: 50px;
    width: 200px;
  }
}

